/* Google Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

/* Header Section */

.header {
    background-color:black;
   padding: 8px;
   margin-bottom: 10px;
}

.infoIcons {
    color: darkgreen;
}

#userIcon1 {
    padding-left: 10px;
}

.info {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 20px;
}
#resume {
    color: orange;
    font-style: italic;
}

.resume {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/* Nav Section */

#navSection{
    text-align: right;
    margin-bottom: 10px;
}

#navSection li{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
    text-align: right;
}
#navSection a{
text-decoration: none;
letter-spacing: 2px;
font-weight: bold;
}
.nav {
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    text-align: right;
}

.nav:first-child {
    padding-left: 1px;
    /* This reduces left padding for the first .nav element */
}

.navText {
    color: red;
}

/* Container */

#container{
    width: 900px;
    margin:10px auto;
}
.heading {
    color: crimson;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    background-color: rgb(212, 245, 245);
    padding-top: 5px;
    padding-bottom: 5px;
}

#home li {
    list-style-type: square;
}

.ul {
    font-family: "Poppins", sans-serif;
    margin-left: 25px;
   

}

.ul li {

    padding-bottom: 5px;
    padding-left: 10px;
    margin: 5px 0;
}
    .ul li::marker{
        content: "✍️";

}


.skills {
    color: green;
    font-style: italic;
    font-weight: bold;
}

.tools {
    background-color: yellow;
}

.table,
th,
td,
tr {
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid orange;
    border-collapse: collapse;
}

th,
td {
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

/* Project Section */

.projectName {
    margin-right: 10px;
}

.environment {
    margin-right: 10px;
}

.teamSize {
    margin-right: 10px;
}

.projectDescription {
    margin-right: 5px;
}

.projectsContent {
    font-family: "Poppins", sans-serif;
}

.projD::selection {
    background-color: lightgreen;
}

.roles {
    list-style-type: lower-alpha;
}

.roles li {
    font-family: "Poppins", sans-serif;
    padding: 10px;

}

/* Footer Section */

.footer i {
    padding-right: 5px;
    color: crimson;
}

.footer a {
    padding-right: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.copyRight {
    font-family: "Poppins", sans-serif;
}